<%= form_for(@customer) do |f| %>
<% if @customer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

  <ul>
    <% @customer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :Telefonnummer %><br>
  <%= f.text_field :TNummer %>
</div>
<div class="field">
  <%= f.label :Vorname %><br>
  <%= f.text_field :Vname %>
</div>
<div class="field">
  <%= f.label :Nachname %><br>
  <%= f.text_field :Nname %>
</div>
<div class="field">
  <%= f.label :Straße %><br>
  <%= f.text_field :Straße %>
</div>
<div class="field">
  <%= f.label :Hausnummer %><br>
  <%= f.text_field :HNummer %>
</div>
<div class="field">
  <%= f.label :Postleitzahl %><br>
  <%= f.text_field :plz %>
</div>
<div class="field">
  <%= f.label :erstellt %><br>
  <%= f.date_select :erstellt %>
</div>
<div class="actions">
  <%= f.submit :class => 'btn btn-info btn-xs' %>

</div>
<% end %>
