<!-- Startseite für das Login -->
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap In Action - Landing Page Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
  <style>
    /* http://css-tricks.com/perfect-full-page-background-image/ */
    html {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }
    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }
    /* Override B3 .panel adding a subtly transparent background */
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }
    .margin-base-vertical {
      margin: -6px 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-offset-3 panel">
        <h2 class="margin-base-vertical"><tt>Sign In</tt></h2><br>
        <p>
          Willkommen zu WinDelivery
        </p>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><br />
          <p class="input-group">
           <span class="input-group-addon">
            <span class="icon-user"></span>
          </span>
          <%= f.email_field :email, :autofocus => true ,:class => "form-control input-large" %></span></p>

          <br />
          <p class="input-group">
           <span class="input-group-addon">
            <span class="icon-lock"></span>
          </span>
          <%= f.password_field :password, :class => "form-control input-large"%></span></p>

          <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :Merken %></div>
          <% end -%>

          <div class="text-center" class="btn btn-success btn-large"><%= f.submit "Einloggen"%></div>
          <% end %>

<%= render "devise/shared/links" %>