<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :Name %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :Artikelnummer %><br>
  <%= f.text_field :articlenumber %>
</div>
<div class="field">
  <%= f.label :Preis %><br>
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :Kategorie %><br>
  <%= f.collection_select( :category_id, @categories, :id, :title ) %>
</div>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
